{{ define "homeTemplate" }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><%= title %></title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../assets/css/<%= title %><% if (min) { %>.min<% } %>.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto" type="text/css">
	</head>
	<body>
		<div id="topnav">
		</div> 

        <div class="container">
            <div class="col-md-12">
             	{{ range $m := . }}
              	<div class="list-group">
				  <a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">{{ $m.Name }}</h4>
				    <p class="list-group-item-text">{{ $m.Id }} --- {{ $m.Description }}</p>
				    
				    <p class="list-group-item-text">{{ range $tag := $m.Tags }} [ {{ $tag }} ] {{ end }}</p>
				    
				  </a>
				</div>
				{{ end }}
            </div>
          </div>
		<div id="application">
		</div> 
	</body>
	<script data-main="js/main" src="../../assets/js/<%= title %><% if (min) { %>.min<% } %>.js"></script>
	<script>
		$(document).ready(function() {
		  $('[data-toggle=offcanvas]').click(function() {
		    $('.row-offcanvas').toggleClass('active');
		  });
		});
	</script>
</html>
{{ end }}